<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle d-inline">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="search-bar input-group">
            <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
              <span class="d-lg-none d-md-block">Search</span>
            </button>
          </li>
          <li class="dropdown nav-item">
            <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="notification d-none d-lg-block d-xl-block"></div>
              <i class="tim-icons icon-sound-wave"></i>
              <p class="d-lg-none">
                Notifications
              </p>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
              <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="photo">
                <img src="assets/uploads/category/1635736871.jpg" style="border-radius: 50%; width:50px;height:50px;" alt="Profile Photo">
              </div>
              <b class="caret d-none d-lg-block d-xl-block"></b>
              <p class="d-lg-none">
                Log out
              </p>
            </a>
            <ul class="dropdown-menu dropdown-navbar">
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
              <li class="dropdown-divider"></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
            </ul>
          </li>
          <li class="separator d-lg-none"></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Navbar -->








@extends('layouts.admin')

@section('content')
  <div class="card">
      <div class="card-header">
            <h4>Add Product</h4>
      </div>
      <div class="card-body">
          <form action="{{ url('update-product'.$products->id) }}" method="POST" enctype="multipart/form-data">
                 @csrf
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="">Category</label>
                            <select class="form-select">
                                        <option value="">{{ $products->category->name }}</option>

                            </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="">Name</label> 
                        <input type="text" class="form-control" value="{{ $products->name }}" name="name">
                    </div>

                    <!--  Editable /models product php / database migrations / php my admin
                    <div class="col-md-6 mb-3">
                        <label for="">Slug</label> 
                       <input type="text" class="form control" name="slug">
                    </div>    --> 

                    <div class="col-md-12 mb-3">
                        <label for="">Small Description</label>
                        <textarea name="small_description"  rows="3"  class="form-control">{{ $products->small_description }}</textarea>
                    </div>

                    
                    <div class="col-md-12 mb-3">
                        <label for="">Description</label>
                        <textarea name="description"  rows="3"   class="form-control">{{ $products->description }}</textarea>
                    </div>
 
                    
                    <div class="col-md-6 mb-3">
                        <label for="">Original Price</label> 
                       <input type="number" class="form-control" value="{{ $products->original_price }}"  name="original_price">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="">Selling Price</label> 
                       <input type="number" class="form-control" value="{{ $products->selling_price }}" name="selling_price">
                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="">Quantity</label> 
                       <input type="number" class="form-control" value="{{ $products->qty }}" name="qty">
                    </div>

                    
                    <div class="col-md-6 mb-3">
                        <label for="">Tax</label> 
                       <input type="number" class="form-control" value="{{ $products->tax }}" name="tax">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="">Status</label>
                        <input type="checkbox" {{ $products->status == "1" ? 'checked' : '' }}  name="status">
                    </div>
                    

                    <div class="col-md-6 mb-3">
                        <label for="">Trending</label>
                        <input type="checkbox" {{ $products->trending == "1" ? 'checked' : '' }} name="trending">
                    </div>


                   
                    <div class="col-md-6 mb-3">                     
                        <label for="">Meta Title</label> 
                       <input type="text" class="form-control" value="{{ $products->meta_title }}" name="meta_title">
                    </div>  


                    
                    <div class="col-md-6 mb-3">
                        <label for="">Meta Keywords</label> 
                        <textarea name="meta_keywords"  rows="3" class="form-control">{{ $products->meta_keywords }}</textarea>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="">Meta Description</label> 
                        <textarea name="meta_description" rows="3" class="form-control">{{ $products->meta_description }}</textarea>
                    </div>
                    @if($products->image)
                        <img src="{{ (assets/uploads/products/'.$products->image) }}" alt="">
                    @endif
                    <div class="col-md-12">
                        <input type="file" name="image" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
          </form>
      </div>
</div>

@endsection 